:root {
    --color-primary: #277ddf;
    --color-secondary: #8B949E;
    --color-text-light: #ffffff;
    --color-background: #090b0f;
    --color-accent: #80f849;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background-enhanced2.webp') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Typography */
h1, h2, p, ul li {
    color: var(--color-text-light);
}

h1, h2 {
    text-shadow: 8px 8px 8px var(--color-background);
}

h1{
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

p{
    font-size: 1.1rem;
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

ul, li{
    font-size: 1.1rem;
}

/* Header */
header {
    background-color: var(--color-background);
    padding: 15px 0;
    min-height: 70px;
    border-bottom: var(--color-primary) 3px solid;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22vw;
}

.header-content, .header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    gap: 50px;
}

.header-buttons {
    gap: 30px;
}

.header-text {
    text-align: left;
}

.header-text h1 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
}

.header-text h2 {
    margin: 0;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    border: 2px solid var(--color-secondary);
    object-fit: cover;
}

.header-buttons button {
    color: var(--color-text-light);
    margin: 0 10px;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 28px;
}

.header-buttons button:hover {
    color: var(--color-primary);
}

/* Main content */
main {
    height: 0%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
    overflow-y: hidden;
}

main.active {
    position: relative;
    height: 100%;
    width: 80%;
    max-width: 1200px;
    margin: 140px auto 20px;
    padding: 20px 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translateX(0);
    overflow-y: auto;
}

/* Skills and About sections */
.skill-category, .about-category, .experience-item, .project-item {
    background-color: var(--color-background);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skill-category {
    width: 500px;
    min-width: 300px;
    margin-bottom: 20px;
}

.about-category {
    min-width: 300px;
}

.about-category p {
    margin: 0;
}

.skill-category h3, .experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-text-light);
}

.skill-item {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1em;
}

.skill-list {
    list-style-type: none;
    height: 140px;
}

.skill-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.skill-list li i {
    width: 40px;
    font-size: 25px;
}

.list-content {
    display: flex;
    justify-content: left;
    gap: 10px;
}

/* Experience and Project sections */
.game-info {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.game-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.game-role {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-accent);
}

.experience-list, .experience-list2 {
    margin-top: 0;
}

.experience-list2 {
    list-style-type: none;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.project-item h3 {
    font-size: 2rem;
    margin: 0;
}

.game-info p {
    margin-top: 5px;
    margin-bottom: 30px;
}

.itchio-link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

footer p {
    color: var(--color-primary);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 0 10px;
}

.social-links {
    display: flex;
}

.social-links a {
    color: var(--color-text-light);
    margin: 0 10px;
    text-decoration: none;
    font-size: 32px;
}

.social-links a:hover {
    color: var(--color-primary);
}

/* Burger Menu Styles */
.burger-menu {
    display: none;
}

.burger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger-icon span {
    width: 2rem;
    height: 0.25rem;
    background: var(--color-text-light);
    border-radius: 10px;
    transition: all 0.3s linear;
}

.menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--color-background);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu-items button {
    margin: 0.5rem 0;
    color: var(--color-text-light);
    background: none;
    border: none;
    font-size: 28px;
}

.menu-items button:hover {
    color: var(--color-primary);
}

/* Media query for tablets and desktops */
@media (min-width: 769px) {
    .desktop-tablet-only {
        display: flex;
    }
    .mobile-only {
        display: none;
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .desktop-tablet-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .burger-icon {
        display: flex;
    }

    .menu-items.open {
        display: flex;
        transform: translateY(0);
    }

    .header-text h1 {
        font-size: 1.5em;
        margin: 0 0 5px 0;
    }
    
    .header-text h2 {
        font-size: 1em;
        margin: 0;
    }
    
    .profile-pic {
        width: 70px;
        height: 70px;
        border-radius: 20px;
        border: 2px solid var(--color-secondary);
        object-fit: cover;
    }

    .header-content {
        gap: 15px;
    }

    .header-container{
        gap: 45px;
    }

    header{
        min-height: 50px;
    }
}