body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: #062F4F; /* Ink */
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #000000; /* Black */
}

p {
    color: #813772; /* Posy */
}

ul li {
    color: #B82601; /* Embers */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #062F4F; /* Ink */
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
